body{
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 200%;
}

p{
    font-size: 1.25rem;
    line-height: 1.5;
}
h1{
    font-size: 5.623rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
    color: #66BFBF;
}

h2{
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: bold; 
    padding-bottom: 10px;  
    margin: auto; 
}

h3{
    font-family: "Montserrat", sans-serif;
    color: #11999E;
    margin: auto;
}

hr 
{
    border: dotted #d6d8d8 8px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;
}

.top-container{
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.top-cloud{
    position: absolute;
    right:400px;
    top: 30px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 350px;
}

.middle-container{
    margin: 100px 0 20px;
}

.Intro{
    width: 30%;
    margin: auto;
}

.skill-row {
    width: 50%;
    margin:  100px auto 100px auto;
    text-align: left;
}
.skill-1{
    width: 25%;
    float: left;
    margin-right: 30px;
} 
.skill-2{
    width: 25%;
    float: right;
    margin-left: 30px;
} 
.button1{
    padding: 10px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom right, #11cdd4, #11999e);
    margin: 10px auto 20px auto;
}

.button1:hover{
    background-image: linear-gradient(to bottom right, #30e3cb, #2bc4ad);
}
a{
    color: #EAF6F6;
    font-weight: bold;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

.profile-img{
    width: 18%;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 20px 0 20px;
    color: #EAF6F6;
}

.contact-msg{
    width: 40%;
    margin: 30px auto;
}

.footer-link{
    color: #11999E;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
}
.footer-link:hover{
    color: black;
}

.copyright{
    color: #40514E;
    font-size: 1.1rem;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}